<html>
  <head>
    <title>Datastore and Firebase Auth Example</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"
    />
  </head>
  <body>
    <h1>Diectory View</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <form action="/">
      <input type="submit" value="Home" />
    </form>
    <div id="login-info" hidden="true">
      <h2>Loged in as:</h2>
      {% if user_data %}
      <dl>
        <dt>Name:</dt>
        <dd>{{ user_data['name'] }}</dd>
      </dl>
      <div>Currently in: {{current_directory}}</div>
      </br>
      <form
        action="/upload_file/{{dir_key}}"
        method="POST"
        enctype="multipart/form-data"
      >
        Upload File:
        <input
          type="file"
          name="file_name"
          accept=".docx,.odt,.xslx,.ods"
        /><input type="submit" value="Upload" />
      </form>
      <h1>Files in {{current_directory}}</h1>
      <br />
      <table>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Format</th>
          <th>Date added</th>
          <th>Date Last Modified</th>
          <th>Location</th>
        </tr>
        {% for i in range(file_list_size)%}

        <tr>
          <td>{{i}}</td>
          <td>
            <form action="/delete_file/{{ files[i]['key'] }}" method="post">
              <input type="submit" value="Delete" />
              {{ files[i]['name'] }}
            </form>
            <form action="/versions/{{ files[i]['key'] }}" method="post">
              <input type="submit" value="Versions" />
            </form>
          </td>
          <td>{{files[i]['format']}}</td>
          <td class="date">{{files[i]['date_added']}}</td>
          <td class="date">{{files[i]['last_modified']}}</td>
          <td>{{files[i]['path']}}</td>
        </tr>
        {%endfor%}
      </table>

      {% elif error_message %}
      <p>Error Message: {{ error_message }}</p>
      {% endif %}
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
  </body>
</html>
