<html>
  <head>
    <title>Datastore and Firebase Auth Example</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"
    />
    <style>
      /* Grid container */
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three columns */
        grid-gap: 10px; /* Gap between cells */
      }

      /* Grid item */
      .grid-item {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
        font-size: 16px;
    }
  </style>
  </head>
  <body>
    <h1>Datastore and Firebase Auth Example</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
      <h2>Loged in as:</h2>
      {% if user_data %}
      <dl>
        <dt>Name:</dt>
        <dd>{{ user_data['name'] }}</dd>
      </dl>
      <div>Currently in: {{directory_name}}</div>
      </br>
      <form action="/upload_file/{{directory_name}}" method="POST" enctype="multipart/form-data">
        Upload File:
        <input
          type="file"
          name="file_name"
          accept=".docx,.odt,.xslx,.ods"
        /><input type="submit" value="Upload" />
      </form>
      <h1>list of files</h1>
      <br />
      {% for file in file_list %}
      <form action="/download_file/{{ file }}" method="post">
        {{ file }}<input type="submit" /><br />
      </form>
      {% endfor %}
      <div class="grid-container">
    <!-- Grid items (replace with your filenames) -->
        {% for file in file_list %}
        <div class="grid-item">{{ file }}</div>
        {% endfor %}
      </div>

      {% elif error_message %}
      <p>Error Message: {{ error_message }}</p>
      {% endif %}
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
  </body>
</html>
