<!DOCTYPE html>
<html>
  <head>
    <title>CSP Assignment</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"
    />
  </head>
  <body>
    <h1>CSP Assignment</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
      <h2>Login Info</h2>
      {% if user_data %}
      <dl>
        <dt>Name:</dt>
        <dd>{{ user_data['name'] }}</dd>
        <dt>Email:</dt>
        <dd>{{ user_data['email'] }}</dd>
      </dl>
      <form action="/add_directory" method="post">
        Directory Name:
        <input type="text" name="dir_name" placeholder="enter name" /><input
          type="submit"
          value="Add"
        />
      </form>
      <form
        action="/upload_file/root"
        method="POST"
        enctype="multipart/form-data"
      >
        Upload File:
        <input
          type="file"
          name="file_name"
          accept=".docx,.odt,.xslx,.ods"
        /><input type="submit" value="Upload" />
      </form>
      <h1>list of directories</h1>
      <br />
      {% for i in directory_list %}
      <br />
      <form action="/enter_directory/{{i.name}}" method="post">
        <label for="dirname">{{i.name}}</label><br />
        <input type="submit" name="dirname" value="Go" />
      </form>
      <br />
      {% endfor %}
      <h1>list of files</h1>
      <br />
      {% for i in file_list %}
      <form action="/download_file/{{ i.name }}" method="post">
        {{ i.name }}<input type="submit" /><br />
      </form>
      {% endfor %}
      <form action="/enter_directory" method="post">
        <label for="dirname">Enter a directory:</label><br />
        <input type="text" id="dirname" name="dirname" />
        <input type="submit" value="Go" /><br />
      </form>
      {% elif error_message %}
      <p>Error Message: {{ error_message }}</p>
      {% endif %}
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
  </body>
</html>
