<html>
  <head>
    <title>Share Folder</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"
    />
    <script>
      function validateEmail(email) {
        const re = /\S+@\S+\.\S+/;
        return re.test(email);
      }

      const form = document.querySelector("addUserEmail");
      const emailInput = document.querySelector('input[type="email"]');

      form.addEventListener("submit", (event) => {
        event.preventDefault();

        const email = emailInput.value.trim();

        if (!validateEmail(email)) {
          alert("Email not valid!");
          emailInput.focus();
          return false;
        }

        form.submit();
      });
    </script>
  </head>
  <header>
    <h1 class="title">File Sharing</h1>
    <div id="firebase-auth-container"></div>
    <button id="sign-out" hidden="true">Sign out</button>
    <div id="enterSharing">
      <form action="/">
        <input type="submit" value="Home" />
      </form>
    </div>
    <div id="login-info" hidden="true">
      <h2>Login Info</h2>
      {% if user_data %}
      <dl>
        <dt>Name:</dt>
        <dd>{{ user_data['name'] }}</dd>
        <dt>Email:</dt>
        <dd>{{ user_data['email'] }}</dd>
      </dl>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="fileView">
        <br />
        {% for file in owned_list %}
        <h2>{{file['name']}}</h2>
        <h3>Owner: {{file['owner']}}</h3>
        <form class="addUserEmail" action="/add_user" method="post">
          Share with:
          <input type="hidden" name="file_key" value="{{ file['key'] }}" />
          <input type="email" name="email" placeholder="enter email" /><input
            type="submit"
            value="Add"
          />
        </form>
        <table>
          <tr>
            <th>Live</th>
            <th>Size</th>
            <th>Date added</th>
            <th>Version of</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          <tr>
            <td>Yes</td>
            <td>{{file['size']}}</td>
            <td>{{ file['date_added'] }}</td>

            <td class="generation">{{file['current_version']}}</td>
            <td class="date">{{file['name']}}</td>
            <td class="actions">
              <form
                action="/download/{{ file['key'] }}/{{file['current_version']}}"
                method="post"
              >
                <input type="submit" value="Download" />
              </form>
            </td>
          </tr>
          {% for version in file['versions']%}

          <tr>
            <td>No</td>
            <td>{{version['size']}}</td>
            <td>{{ version['time_created'] }}</td>

            <td class="generation">{{version['generation']}}</td>
            <td class="date">{{file['name']}}</td>
            <td class="actions">
              <form
                action="/delete_shared_version/{{ file['key'] }}/{{version['generation']}}"
                method="post"
              >
                <input type="submit" value="Delete" />
              </form>
              <form
                action="/download/{{ file['key'] }}/{{file['current_version']}}"
                method="post"
              >
                <input type="submit" value="Download" />
              </form>
            </td>
          </tr>
          {%endfor%}
        </table>
        {%endfor%}
      </div>
      <div class="fileView">
        <br />
        {% for file in collab_list %}
        <h2>{{file['name']}}</h2>
        <h3>Owner: {{file['owner']}}</h3>
        <div class="uploadFile">
          <form
            action="/upload_file_share"
            method="POST"
            enctype="multipart/form-data"
          >
            Upload File:
            <input type="hidden" name="owner" value="{{file['owner']}}" />
            <input type="hidden" name="dir_key" value="{{shared['key']}}" />
            <input type="hidden" name="file_key" value="{{file['key']}}" />
            <input
              type="file"
              name="file_name"
              accept=".docx,.odt,.xslx,.ods"
            /><input type="submit" value="Upload" />
          </form>
        <table>
          <tr>
            <th>Live</th>
            <th>Date added</th>
            <th>Version of</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          <tr>
            <td>Yes</td>
            <td>{{file['date_added']}}</td>
            <td>{{ file['current_version'] }}</td>

            <td class="name">{{file['name']}}</td>
            <td class="actions">
              <form
                action="/download/{{ file['key'] }}/{{file['current_version']}}"
                method="post"
              >
                <input type="submit" value="Download" />
              </form>
            </td>
          </tr>
          {% for version in file['versions']%}

          <tr>
            <td>No</td>

            <td>{{ version['time_created'] }}</td>

            <td class="generation">{{version['generation']}}</td>
            <td class="date">{{file['name']}}</td>
            <td class="actions">
              <form
                action="/download/{{ file['key'] }}/{{file['current_version']}}"
                method="post"
              >
                <input type="submit" value="Download" />
              </form>
            </td>
          </tr>
          {%endfor%}
        </table>
        {%endfor%}
      </div>
      {% elif error_message %}
      <p>Error Message: {{ error_message }}</p>
      {% endif %}
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
  </body>
</html>
