<html>
  <head>
    <title>Datastore and Firebase Auth Example</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"
    />
  </head>
  <body>
    <div>
      <h1>File versioning</h1>
      <h2>{{file['name']}} in {{current_directory}}</h2>
      <h3>Total versions {{version_count}}</h3>
      <br />
      <form action="/">
        <input type="submit" value="Home" />
      </form>
      <br />
      <table>
        <tr>
          <th>Live</th>
          <th>Size</th>
          <th>Date added</th>
          <th>Version of</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>Yes</td>
          <td>{{file['size']}}</td>
          <td>{{ file['date_added'] }}</td>

          <td class="generation">{{file['current_version']}}</td>
          <td class="date">{{file['name']}}</td>
          <td class="actions">
            <form
              action="/download/{{ file['key'] }}/{{file['current_version']}}"
              method="post"
            >
              <input type="submit" value="Download" />
            </form>
          </td>
        </tr>
        {% for version in file['versions']%}

        <tr>
          <td>No</td>
          <td>{{version['size']}}</td>
          <td>{{ version['time_created'] }}</td>

          <td class="generation">{{version['generation']}}</td>
          <td class="date">{{file['name']}}</td>
          <td class="actions">
            <form
              action="/delete_version/{{ file['key'] }}/{{version['generation']}}"
              method="post"
            >
              <input type="submit" value="Delete" />
            </form>
            <form
              action="/download/{{ file['key'] }}/{{file['current_version']}}"
              method="post"
            >
              <input type="submit" value="Download" />
            </form>
          </td>
        </tr>
        {%endfor%}
      </table>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
  </body>
</html>
